@use './../functions/media-query' as *;
@use './../functions/rem-convert' as *;

$min-site-width: 280px;
$max-site-width: 1920px;

@mixin site-wrapper {
    min-width: $min-site-width;
    max-width: $max-site-width;
    position: relative;
    box-sizing: content-box;
    height: 100%;
    min-height: 100vh;
    margin-left: rem(10px);
    margin-right: rem(10px);

    @include media-breakpoint-up(xs) {
        margin-left: rem(10px);
        margin-right: rem(10px);
    }

    @include media-breakpoint-up(sm) {
        margin-left: rem(30px);
        margin-right: rem(30px);
    }

    @include media-breakpoint-up(lg) {
        margin-left: rem(60px);
        margin-right: rem(60px);
    }

    @include media-breakpoint-up(xxl) {
        margin-left: rem(80px);
        margin-right: rem(80px);
    }

    @include media-breakpoint-up(xxxxl) {
        margin-left: auto;
        margin-right: auto;
    }
}