$color-primary: #f60c0c;
$color-primary-light: #f3705f;
$color-primary-lighter: #f0b3ab;
$color-primary-light-transparent: rgba(239, 126, 126, 0.50);

$color-white: #fff;
$color-black: #181818;
$color-black-loading: #303030;
$color-black-rgb: 24;
$color-darkgray: #adadad;

@mixin neon-glow-font {
    color: transparent;
    text-shadow: 1px 1px 2px $color-primary-light-transparent, 0 0 0 $color-white, 2px 3px 4px $color-primary, 2px 2px 2px $color-primary;
}

@mixin neon-glow-svg {
    fill: $color-white;
    filter: drop-shadow(2px 3px 4px $color-primary) drop-shadow(2px 3px 4px $color-primary);
}

@mixin neon-glow-element {
    background-color: $color-white;
    filter: drop-shadow(2px 3px 4px $color-primary) drop-shadow(2px 3px 4px $color-primary);
}

@mixin neon-glow-light-font {
    color: $color-primary-lighter;
    filter: blur(0.2px) drop-shadow(2px 3px 4px $color-primary-light-transparent);
}
