@font-face {
    font-family: 'Night Club';
    src: url('/src/app/assets/fonts/night_club_70s_regular-webfont.woff2') format('woff2'),
    url('/src/app/assets/fonts/night_club_70s_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Impact Label Reversed';
    src: url('/src/app/assets/fonts/impact_label_reversed-webfont.woff2') format('woff2'),
    url('/src/app/assets/fonts/impact_label_reversed-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Beon';
    src: url('/src/app/assets/fonts/beon-webfont.woff') format('woff');
}

$primary-font: Night Club, Helvetica, sans-serif;
$primary-font-numbers: Beon, Helvetica, sans-serif;
$secondary-font: Impact Label Reversed, Impact, sans-serif;